* {
    box-sizing:border-box;
}
:root {
    --wine-red: #C7375F;
    --bright-red: #D42D2F;
    --dark-green: #344D2F;
    --light-green: #77A047;
    --gold: #FAC57D;
    --snow: #F0F4F7;
  }

h1, h2, h3, h4, h5, h6, p {
    margin:0;
}

html, body{
    margin:0;
    padding:0;
}


body{
    background-color: var(--light-green);
    height:100vh;
}


/*NAV styles */

nav{
    display:flex;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 25px;
    height: 60px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
    z-index: 1;
}

nav.dark{
    background-color: #21222A;
}
.nav-logo-icon{
    width:60px;
    margin-right: 10px;
}
.nav-logo-text{
    color:#61DAFB;
    margin-right: auto;
}
.nav-title{
    color: #DEEBF8;
}
.toggler{
    display:flex;
    align-items: center;
}
.toggler p{
    font-size: 0.625rem;
    font-weight: 600;
}
.toggler-slider{
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}
nav.dark .toggler-slider{
    border-color:white;
    background-color: #f5f5f5;
}
.toggler-slider-circle{
    height:13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}
nav.dark .toggler-slider-circle{
    background-color: black;
}
.toggler-light{
    color:#2B283A;
}
nav.dark .toggler-light{
    color:#918E9B;
}
.toggler-dark{
    color:#D5d4d8;
}
nav.dark .toggler-dark{
    color:#FFFFFF;
}
nav.dark .toggler-slider{
    justify-content: flex-end;
}

/*MAIN STYLES*/

.main, .container{
    display:flex;
    justify-content: center;
    align-items: center;
}

main{
    padding: 57px 27px;
    flex: 1 1 auto;
    height: 100vh;
}
main.dark{
    background-color: #282D35;
    color:white;
}

.container{
    background-color: var(--snow);
    flex-direction: column;
    border-radius: 10px;
    padding: 1em;
    font-size: 35px;
    min-width: 600px;
    min-height: 450px;
    max-width: 900px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 6px -1px, rgba(0,0,0,0.6) 0px 2px 4px -1px;
    font-size: 35px;
    color: var(--wine-red)

}

button{
    padding: 0.25em 0.5em;
    border:none;
    font-size: 1.2rem;
    background-color: var(--dark-green);
    color: var(--snow);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
button:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.pause-btn{
    background-color: var(--gold);
    color: var(--wine-red)
}
.stop-btn{
    background-color: var(--wine-red);
}
.material-icon-outlined{
    padding-top: 5px;
    margin:0;
    font-size: 30px;
}

.animate{
    display:inline-block;
    animation-name: ring;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes ring{
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}